<configuration>
	<configSections>
		<section name="rhino.esb" type="Rhino.ServiceBus.Config.BusConfigurationSection, Rhino.ServiceBus"/>
	</configSections>
	<rhino.esb>
		<bus threadCount="1"
			numberOfRetries="5"
			endpoint="amazon.sqs://sqs.us-east-1.amazonaws.com?QueueName=testQueue&amp;SignatureMethod=HmacSHA256&amp;AWSAccessKeyId=0GS7553JW74RRM612K02EXAMPLE&amp;SignatureVersion=2&amp;Signature=Dqlp3Sd6ljTUA9Uf6SGtEExwUQEXAMPLE"
             />
		<messages>
			<add name="Rhino.ServiceBus.Tests"
				 endpoint="amazon.sqs://sqs.us-east-1.amazonaws.com?QueueName=testQueue&amp;SignatureMethod=HmacSHA256&amp;AWSAccessKeyId=0GS7553JW74RRM612K02EXAMPLE&amp;SignatureVersion=2&amp;Signature=Dqlp3Sd6ljTUA9Uf6SGtEExwUQEXAMPLE"/>
		</messages>
	</rhino.esb>
</configuration>